/* RESET SIMPLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.topo {
  width: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container {
  background: #e0e0e0;
  padding: 6px 16px;
  border-radius: 20px;
  margin-bottom: 20px;
}
.search-input {
  border: none;
  background: transparent;
  outline: none;
  text-align: center;
  font-size: 14px;
  color: #333;
}

.portfolio-title {
  display: inline-block;
  font-family: 'Anton', sans-serif;
  font-size: 120px;
  text-transform: uppercase;
  text-align: center;
  margin: 20px 0 30px;

  transform: scaleY(1.35);
  letter-spacing: 4px;
  line-height: 0.9;
}