/* RESET SIMPLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.topo {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.search-container {
  background: #e0e0e0;
  padding: 6px 16px;
  border-radius: 20px;
}
.search-input {
  border: none;
  background: transparent;
  outline: none;
  text-align: center;
  font-size: 14px;
  color: #333;
}